/* Box Model */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */

html {
  font-size: 16px;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 1.5rem;
}

section {
  width: 60%;
}

section img {
  width: 100%;
}

aside {
  width: 40%;
}

h1, h2 {
  font-weight: bold;
}

aside {
  padding-left: 1.5rem;
}

/* Header */

header {
  height: 4rem;
  align-items: center;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  flex: 1;
  align-items: center;
  height: 2rem;
  text-transform: uppercase;
}

nav li {
  display: inline-block;
  padding-left: 1rem;
}

@media only screen and (max-width: 1600px) {
  nav.mobile {
    display: none;
  }
}

/* Landing Section */

.supporting.banner button {
  color: white;
  background-color: grey;
  padding: 0.5rem;
  border-radius: 10px;
  width:
}

/* Information Section */

.card {
  display: flex;
  align-items: center;
}

.content.img {
  width: 35%;
  padding: 1rem 1rem;
}

.content.img.orientation {
  padding-top: 0;
}

.content.box {
  width: 65%;
}

.content.box p {
  margin: 0.5rem auto;
}

.content.img img {
  width: 100%;
  height: auto;
}

.information h2 {
  margin-top: 2rem;
}

.information.desktop p {
  margin-top: 1.5rem;
}
/* Courses Section */

.container.courses {
  flex-direction: row;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.courses.desktop {
  width: 25%;
}

.courses.desktop img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1600px) {
  .courses.mobile {
    display: none;
  }
}

/* Thesis Section */

video {
  width: 100%;
}

/* Footer Section */

.footer.mobile {
  flex: 1;
}
